<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/b-2.3.2/r-2.4.0/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <title>
            {% block title %}
            Home 
            {% endblock %}
        </title>
    </head>

    <body class="mb-2 bg-secondary text-white">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand">PRED</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav ms-auto" id="navbar">
                        <a class="nav-item active nav-link" id="compare" href="/dumbass">Upcoming</a>
                        <a class="nav-item active nav-link" id="compare" href="/dumbass2.0">Compare</a>
                        <a class="nav-item active nav-link" id="teams" href="/odds">Odds Stats</a>
                        <a class="nav-item active nav-link" id="stats" href="/stats">Team Stats</a>
                        <a class="nav-item active nav-link" id="stats" href="/dumbass3.0">Historical</a>
                        <a class="nav-item active nav-link" id="about" href="/dumbass4.0">About</a>
                    </div>
                </div>            
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

            {% if category == 'fail' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="container-fluid" align="left">
            {% block section1 %}
            {% endblock %}
        </div>
        
        <div class="container-fluid" align="left">
            {% block section2 %}
            {% endblock %}
        </div>

        <div class="container-fluid" align="left">
            {% block section3 %}
            {% endblock %}
        </div>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/b-2.3.2/r-2.4.0/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>

</html>
